body{
    background-color: #e7e5df;
}
section{
    background-color: #d3d0cb;
}
p{
    color:#393e41;
}
.header-link{
    color: #393e41;
}
.main-header{
    color: #e7bb41;
}
.header-style{
    color: #44bba4;
}