.main-body{
    background-color: #e7e5df;
    min-width: 700px;
}
.navigation{
    background-color: #393e41;
    border-radius: 8px;
    height: 24px;
    min-width: 700px;
    padding-top: 6px;
    text-align: center;   
}
.navigation-link{
    display: inline-block;
    background-color: #e7bb41;
    color: #393e41;
    width: 200px;
   margin: 0 auto; 
    
}
.main-header{
    color: #e7bb41;
    text-align: center;
    background-color: #393e41;
    border-radius: 8px;
}
.rounded-image{
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}
.main-section{
    background-color: #d3d0cb;  
}
p{
    color:#393e41;
}


.header-style{
    color: #44bba4;
}